/* font raleway */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* <uniquifier>: Use a uniquifier for the class name
    <weight>: Use a value from 100 to 900 */

.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* font inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* <uniquifier>: Use a uniquifier for the class name
    <weight>: Use a value from 100 to 900 */

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

.header-title {
  background-size: cover;
  background-position: center center;
  height: 550px;
  width: screen;
  border-radius: 1rem;
  background-image: linear-gradient(180deg, rgba(03, 07, 18 , 0.128) 0%, rgba(03, 07, 18 , 0.128) 50%), url(../images/banner.png);
  /* background-color: #ffffff; */
  background-repeat: no-repeat;
}

.btn-primary2 {
  background: #1DD100;
  border-radius: 20px;
  padding: 1rem;
  font-size: large;
  font-weight: bold;
  color: white
}

.btn-seat {
  background: #03071280;
  border-radius: 20px;
  padding: 2rem;
  font-size: large;
  font-weight: bold;

}

li {
  display: flex;
  /* gap: 20px;
  width: 200px; */
  margin: auto;
  text-align: center;
  list-style: numeric;
  justify-content: space-between;
}